@media (max-width: 900px) {
    #page-home {
        background-position-x: 70vw;
    }

    #page-home .content {
        align-items: center;
        text-align: center;
    }

    #page-home header a {
        position: absolute;
        bottom: 48px;
        left: 50%;
        transform: translateX(-50%);
    }

    #page-home main {
        align-items: center;
    }

    #page-register-point .field-address {
        flex-direction: column;
    }

    #page-register-point .field-address input[name="address"]{
        width: 100%;
        margin-right: 0;
    }

    #page-register-point .field-group {
        flex-direction: column;
    }

    #page-register-point .field-group .field + .field {
        margin-left: 0;
    }

    #page-search-results .cards {
        grid-template-columns: 1fr;
    }

    .items-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1700px) {
    #page-hone {
        background-position-x: 40vw;
    }
}

@media (min-width: 400px) {
    #page-home main h1 {
        font-size: 44px;
    }
}

@media (min-width: 300px) {
    #page-home main h1 {
        font-size: 34px;
    }

    #page-home main p {
        font-size: 18px;
    }
}

@media (max-height: 760px) {
    #page-home {
        background-position-y: 150px;
        background-size: 800px;
    }
}