* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
}

:root {
    --title-color: #322153;
    --primary-color: #34cb79;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Ubuntu', sans-serif;
    color: var(--title-color);
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

a{text-decoration: none;}

li {list-style: none;}